
body{
    background: #dbdbdb;
    color: #242121;
    font-family: verdana,Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 0;
    font-size: 12px;
}
.sayfa{
    width: 960px;
    margin: auto;
}
.ust{
    background: #c55c3a;
}
#logo{
    float: left;
    width: 260px;
    margin-top: 7px;
    margin-left: 10px;
}

#logo h1{
    margin: 0;
    padding: 0;
    font-size: 42px;
    text-transform: uppercase;
    
}

#logo h1 a{
    font-family: Georgia;
    text-decoration: none;
    color: #DBDBDB;
    letter-spacing: 3px;
}

#logo p{
    color: #DBDBDB;
    font-family: Georgia;
    margin-left: 3px;
    margin-top: 0;
    padding-top: 0;
    letter-spacing: 2px;
}

#menu{
    float: right;
    width: 650px;
    margin: 30px 0 0 0;
    padding: 0;
    font-size: 13px;
    text-align: right;
}

#menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

#menu ul li{
    display: inline;
    margin-right: 35px;
}

#menu ul li a{
    text-decoration: none;
    font-size: 13px;
    font-family: Verdana;
    color: #DBDBDB;
}

.orta{
    
    margin-top: 20px;
}
.orta-sol{
    width: 575px;
    float: left;
}
.orta-sag{
    width: 360px;
    float: right;
    height: 280px;
    background: #e8b465;
    padding: 10px;
}

.orta-sağ ul{
    margin-top: 9%;

}

.orta-resim{
    margin: 0 25px;
    
}
.card
{
    width: 300px;
    float: left;
}

.card{
    margin-right: 30px;
}

.card:nth-child(3){
    margin:0px;
}

.card h1{
    border-bottom: 1px dotted white;
    padding-bottom: 15px;
    
}

.card
{
    width: 300px;
    float: left;
}
/*.orta-card{
    margin :0 30px;
}*/

.card{
    margin-right: 30px;
}

.card:nth-child(3){
    margin:0px;
}

.card h1{
    border-bottom: 1px dotted white;
    padding-bottom: 15px;
    
}

.card img {
    width: 25%;
  }
  .card img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }
   .card h1 {
    display: inline-block;
    vertical-align: middle;
  }
  .card {
    width: 300px;
    float: left;
}



.card1 img {
    width: 8%;

  }
  .card1 img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }
   .card1 h1 {
    display: inline-block;
    vertical-align: middle;
  }
  



  .orta-sol img{
    width: 95%;

    margin-top: 5%;

  }



  .s1 {
    margin-top: 7%;

  }

  .s2{
    margin-top: 7%;
   
  }

  .s3{
    margin-top: 39%;

  }



.button a{
    display: inline-block;
    padding: 10px 15px;
    color: #dbdbdb;
    background-color: #c55c3a;
    text-decoration: none;
    
}

.clear{
    clear: both;
}

.s2 img{
    width:25% ;
}

.s3 img{
    width:25% ;
}

.b1 {
    margin-top: 7%;      
  }

.b2 {
    margin-top: 7%;      
    margin-right : auto;

}


